@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .langauge-selector {
    @apply bg-slate-200 rounded py-1 px-2 cursor-pointer;
  }
}

body {
  font-family: "Source Code Pro", monospace;
  color: white;
  font-stretch: expanded;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  cursor: auto;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  background-color: #1c2333;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(176, 176, 176, 0.28);
  border-radius: 0.75rem;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(176, 176, 176, 0.4);
}
