@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .langauge-selector {
    @apply bg-slate-200 rounded py-1 px-2 cursor-pointer;
  }
}

body {
  font-family: "fira code";
  color: white;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
